
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPageNormal.cshtml";
}

<h2 style="text-align:center; font-family: sans-serif">Ansökan om busskort</h2>
<br /><br />

<!--Formulär för ansökan (lär väl fixa någon post senare, typ form action)-->

<div class="container">
    @using (Html.BeginForm("Create", "Anmalan", FormMethod.Post))
    {
        <div class="form-row">

            <div class="form-group col-md-6">
                <h3 style="font-family: sans-serif">Skola</h3><br />

                <label for="exampleFormControlSelect1"><b>Årskurs</b></label>
                <select class="form-control" id="exampleFormControlSelect1" name="year">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>


                <label for="inputSkola"><b>Skola</b></label>
                <input type="text" class="form-control" id="inputSkola" placeholder="Skriv in skola" name="skolaNamn">
            </div>

            <div class="form-group col-md-6">
                <h3 style="font-family: sans-serif">Barn</h3><br />
                <label for="inputB_Personnummer"><b>Personnummer</b></label>
                <input type="text" class="form-control" id="inputB_Personnummer" placeholder="ÅÅMMDD-XXXX" name="barnPersonnummer">
                <label for="inputB_fornamn"><b>Förnamn</b></label>
                <input type="text" class="form-control" id="inputB_fornamn" placeholder="Förnamn" name="barnFörnamn">
                <label for="inputB_efternamn"><b>Efternamn</b></label>
                <input type="text" class="form-control" id="inputB_efternamn" placeholder="Efternamn" name="barnEfternamn">
            </div>

            <div class="form-group col-md-6">
                <h3 style="font-family: sans-serif">Målsman</h3><br />
                <label for="inputM_Personnummer"><b>Personnummer</b></label>
                <input type="text" class="form-control" id="inputF_Personnummer" placeholder="ÅÅMMDD-XXXX">
                <label for="inputM_fornamn"><b>Förnamn</b></label>
                <input type="text" class="form-control" id="inputM_fornamn" placeholder="Förnamn">
                <label for="inputM_efternamn"><b>Efternamn</b></label>
                <input type="text" class="form-control" id="inputM_efternamn" placeholder="Efternamn">
            </div>

            <div class="form-group col-md-6">
                <h3 style="font-family: sans-serif">Kontakt</h3><br />

                <label for="inputEmail"><b>E-post</b></label>
                <input type="email" class="form-control" id="inputEmail" placeholder="E-post">
                <label for="inputTelefon"><b>Telefon</b></label>
                <input type="text" class="form-control" id="inputTelefon" placeholder="Telefonnummer">
            </div>

            <div class="form-group col-md-6">
                <h3 style="font-family: sans-serif">Adress</h3><br />

                <label for="inputAdress"><b>Adress</b></label>
                <input type="text" class="form-control" id="inputAdress" placeholder="Gatunamn t.ex. Mjölnaregatan 16">
                <label for="inputPostnummer"><b>Postnummer</b></label>
                <input type="text" class="form-control" id="inputPostnummer" placeholder="Postnummer">
                <label for="inputOrt"><b>Postnummer</b></label>
                <input type="text" class="form-control" id="inputOrt" placeholder="Ort">

            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">  Skicka  </button>
    }

</div>



