
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPageNormal.cshtml";
}

<h2>Ansökan om busskort</h2>

<!--Formulär för ansökan (lär väl fixa någon post senare, typ form action)-->

<div class="container">
    @using (Html.BeginForm("Create", "Anmalan", FormMethod.Post))
    {
        <div class="form-row">

            <div class="form-group col-md-6">
                <h1>Skola</h1><br />

                <label for="exampleFormControlSelect1">Årskurs</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>


                <label for="inputSkola">Skola</label>
                <input type="text" class="form-control" id="inputSkola" placeholder="Skriv in skola">
            </div>

            <div class="form-group col-md-6">
                <h1>Barn</h1><br />
                <label for="inputB_Personnummer">Personnummer</label>
                <input type="text" class="form-control" id="inputB_Personnummer" placeholder="ÅÅMMDD-XXXX">
                <label for="inputB_fornamn">Förnamn</label>
                <input type="text" class="form-control" id="inputB_fornamn" placeholder="Förnamn">
                <label for="inputB_efternamn">Efternamn</label>
                <input type="text" class="form-control" id="inputB_efternamn" placeholder="Efternamn">
            </div>

            <div class="form-group col-md-6">
                <h1>Målsman</h1><br />
                <label for="inputM_Personnummer">Personnummer</label>
                <input type="text" class="form-control" id="inputF_Personnummer" placeholder="ÅÅMMDD-XXXX">
                <label for="inputM_fornamn">Förnamn</label>
                <input type="text" class="form-control" id="inputM_fornamn" placeholder="Förnamn">
                <label for="inputM_efternamn">Efternamn</label>
                <input type="text" class="form-control" id="inputM_efternamn" placeholder="Efternamn">
            </div>

            <div class="form-group col-md-6">
                <h1>Kontakt</h1><br />

                <label for="inputEmail">E-post</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="E-post">
                <label for="inputTelefon">Telefon</label>
                <input type="text" class="form-control" id="inputTelefon" placeholder="Telefonnummer">
            </div>

            <div class="form-group col-md-6">
                <h1>Adress</h1><br />

                <label for="inputAdress">Adress</label>
                <input type="text" class="form-control" id="inputAdress" placeholder="Gatunamn t.ex. Mjölnaregatan 16">
                <label for="inputPostnummer">Postnummer</label>
                <input type="text" class="form-control" id="inputPostnummer" placeholder="Postnummer">
                <label for="inputOrt">Postnummer</label>
                <input type="text" class="form-control" id="inputOrt" placeholder="Ort">

            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">  Skicka  </button>
    }

</div>



