@model Busskort.BusskortServiceReference.Anmälan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MasterPageNormal.cshtml";
}

<div>
    
    <div class="container">
        <h1 class="pagetitle" font-family: sans-serif">Delete</h1>
        <h6 font-family: sans-serif">Anmälan ID: @Model.ID</h6>
        <br />

        <!-- Use the normal form -->
        @Html.Partial("_AdminAnmalanPart") 
        
        <div class="form-row">

            <div class="form-group col-md-6">
                <h3 class="formlabel" style="font-family: sans-serif">Åtgärd</h3><br />

                <label for="exampleFormControlSelect1"><b>Beviljad</b></label>
                @Html.DropDownList("Beviljad", (IEnumerable<SelectListItem>)ViewBag.DropDownBeviljad, new { id = "exampleFormControlSelect2", @class = "form-control", @disabled = "disabled" })

                <label for="inputSkola"><b>Motivering</b></label>
                <textarea class="form-control" id="motivering" placeholder="Skriv motivering..." name="motiveringName" style="height:150px" readonly>@Model.Motivering</textarea>
            </div>
        </div>

        <form method="post">
            <button type="submit" formaction="/Admin/DeleteConfirmed/@Model.ID" class="btn-danger">Delete</button>
        </form>
    </div>
</div>
<br />
<br />
