th {
    font-size:13px;
}
td{
    font-size: 12px;
}

#displayDataTable th {
    cursor: pointer;
}
.index-tbody tr:nth-child(odd):hover td, tbody tr.odd:hover td {
    background: #8888ff;
}

.index-tbody tr:nth-child(even):hover td, tbody tr.even:hover td {
    background: #8888ff;
}


.index-tbody tr:nth-child(odd) td, tbody tr.odd td {
    background: #CCC;
}